@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Bengali:wght@100..900&display=swap');
@import "tailwindcss";



@layer base{
    body{
        font-family: "Noto Serif Bengali", serif;
         color: black;
         font-size: 20px;
         font-weight: 30px;
         font-style: normal;
         background-color: #ffff;
    }
}


 @theme {
  --color-primary: #2E7D32;
  --color-cardbg:#FFFFFF;
  --color-border:#E5E7EB;
  
}


@layer components{
  .hover{
    @apply hover:bg-primary bg-[#d97706]
  }
}
 
